@font-face {
  font-family: 'Work Sans';
  src: url("./assets/fonts/WorkSans-Bold.ttf");
}

@font-face {
  font-family: Inter;
  src: url("./assets/fonts/Inter-Regular.ttf");
}

html, body{
  height:100%;
  width:100%;
}

body {
  margin: 0;
  display: flex;
  align-content: center;
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* background-image: linear-gradient(linear, left top, right top, from(#000046), color-stop(#4f1c96), color-stop(33%), to(#1cb5e0)); */
  background: #030C21;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header, footer, main {
  padding: 10px;
  height: 30px;
}

header{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px 20px 0;
}

main {
  width:100%;
  height: 100%;
  max-width: 800px;
  border:0px solid white;
  
  margin-left: -15px;
  background-color: #081F42;
  padding: 10px;
  border-radius: 20px;

  /* border: 1px solid;

border-image-source: radial-gradient(94.92% 94.92% at 0% 5.08%, #2E64B4 0%, rgba(46, 100, 180, 0) 100%),
radial-gradient(68.24% 68.24% at 103.44% 31.76%, #2E64B4 0%, rgba(46, 100, 180, 0) 100%); */

}

.flex-centered{
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  padding-top: 40px;
}

h1,h2,h3,h4,h5,h6 {
  display: flex;
  margin: 50px 0 50px 30px;
  font-family: 'Work Sans';

}

input, textarea {
  padding: 15px;
  color: white;
  font-weight: 500;
  font-family: inherit;
  overflow: hidden;
  outline: currentcolor none medium;
  width: 100%;
  background: #061A3C;
  border: 1px solid #2E64B4;
  box-sizing: border-box;
  border-radius: 6px;
}

input::placeholder, 
textarea::placeholder{
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 126%;
  /* or 20px */
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: #2E64B4;
}

.half-input{
  width: 100%;
}

/* Hiding spin arrows */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.App {
  margin: 10px;
  padding: 10px;
}

.group-container{
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
}

.row-container{
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.elt-divider{
  margin-left: 10px;
  margin-right: 10px;
}

.bold-label{
  font-family: Inter;
  font-weight: 700;
  margin-bottom: 10px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 126%;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  opacity: 0.9;
}

.color-blue{
  color: #2E64B4;
}

.dotted-frame{
  background: rgba(6, 26, 60, 0.1);
  border: 2px dashed #0454CB;
  box-sizing: border-box;
  border-radius: 6px;
  display: flex;
  align-content:center;
  justify-content: center;
}

.flex-item {
  display: flex;
  align-self: center;
}

.xp-button {
  background: #045ADB;
  color: white;
  padding: 15px;
  width: 100%;
  opacity: 0.9;
  /* box-shadow: inset 0px 2px 2px rgba(104, 164, 255, 0.25); */
  border: 0px solid #045ADB;
  border-radius: 6px;
  user-select: none;
  cursor: pointer;
}

.upload-button{
  background: #045ADB;
  color: white;
  padding: 10px 30px 10px 30px;
  border: 0px solid #045ADB;
  border-radius: 6px;
  user-select: none;
  cursor: pointer;
  margin: 30px 0 30px 0;
}

.XPSelect{
  width: 200px;
}

@media (min-width: 700px){
  .group-container, .row-container{
    padding-left: 30px;
    padding-right: 20px;
  }

  /* .dotted-frame{
    margin-right: 30px;
  } */
}
